{% extends 'base-orgs.html' %}
{% load static %}

{% block title %}授课机构简介{% endblock %}

{% block org_logo %}
    <img class="fl" style="width: 112px;height: 103px"
         src="{{ MEDIA_URL }}{{ course_orgs.images }}" alt=""/>
{% endblock %}

{% block h1 %}
    <h1>
        {{ course_orgs.name }}
        <img src="{% static 'images/authentication.png' %}" alt=""/>
        <img src="{% static 'images/gold.png' %}" alt=""/>
    </h1>
{% endblock %}

{% block bread-nav %}
    <li><a href="{% url 'index' %}">首页</a>></li>
    <li><a href="{% url 'orgs:list' %}">课程机构</a>></li>
    <li><a href="{% url 'orgs:desc' org_id %}">机构介绍</a></li>
{% endblock %}

{% block active_item %}
    <li class=""><a href="{% url 'orgs:home' org_id %}">机构首页</a></li>
    <li class=""><a href="{% url 'orgs:courses' org_id %}">机构课程</a></li>
    <li class="active2"><a href="{% url 'orgs:desc' org_id %}">机构介绍</a></li>
    <li class=""><a href="{% url 'orgs:teachers' org_id %}">机构讲师</a></li>
{% endblock %}

{% block content-intro %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="cont">
            {{ course_orgs.describe }}
        </div>
    </div>
{% endblock %}
