{% extends 'base-users.html' %}
{% load static %}

{% block title %}个人中心-我的资料{% endblock %}
{% block crumb-nav %}
    <ul class="crumbs">
        <li><a href="{% url 'index' %}">首页</a>></li>
        <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
        <li>个人信息</li>
    </ul>
{% endblock %}
{% block external %}
    <script src="{% static 'js/deco-user.js' %}"></script>
    <script>
        var user_info_url = "{% url 'users:user_info' %}";
        var resetpwd_url = "{% url 'users:reset_info_password' %}";
        var update_email_url = "{% url 'users:update_email' %}";
    </script>
{% endblock %}

{% block right_title %}个人信息{% endblock %}
{% block right_content %}
    <div class="left" style="width:242px;">
        <iframe id='frameFile' name='frameFile' style='display: none;'></iframe>
        {# 上传头像 #}
        <form class="clearfix" id="jsAvatarForm" enctype="multipart/form-data" autocomplete="off"
              method="post" action="{% url 'users:upload_image' %}" target='frameFile'>
            <label class="changearea" for="avatarUp">
                            <span id="avatardiv" class="pic">
                                <img width="100" height="100" class="js-img-show" id="avatarShow"
                                     src="{{ MEDIA_URL }}{{ request.user.image }}"/>
                            </span>
                <span class="fl upload-inp-box" style="margin-left:70px;">
                                <span class="button btn-green btn-w100" id="jsAvatarBtn">修改头像</span>
                                <input type="file" name="image" id="avatarUp" class="js-img-up"/>
                            </span>
            </label>
            {% csrf_token %}
        </form>
        {# 修改密码 #}
        <div style="border-top:1px solid #eaeaea;margin-top:30px;">
            <a class="button btn-green btn-w100" id="jsUserResetPwd"
               style="margin:80px auto;width:100px;">修改密码</a>
        </div>
    </div>

    <form class="perinform" id="jsEditUserForm" autocomplete="off">
        <ul class="right">
            <li>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：
                <input type="text" name="nickname" id="nickname" value="{{ request.user.nickname }}" maxlength="10">
                <i class="error-tips"></i>
            </li>
            <li>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日：
                <input type="text" id="birthday" name="birthday" value="{{ request.user.birthday|date:"Y-m-d" }}"
                       readonly="readonly"/>
                <i class="error-tips"></i>
            </li>
            <li>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：

                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="gender" value="male"
                           {% if request.user.gender == 'male' %}checked="checked"{% endif %}>男</label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="gender" value="female"
                           {% if request.user.gender == 'female' %}checked="checked"{% endif %}>女</label>
            </li>
            <li class="p_infor_city">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                <input type="text" name="address" id="address" placeholder="请输入你的地址"
                       value="{{ request.user.address }}" maxlength="10">
                <i class="error-tips"></i>
            </li>
            <li>手&nbsp;&nbsp;机&nbsp;&nbsp;号：
                <input type="text" name="telephone" id="mobile" placeholder="请输入你的手机号码"
                       value="{% if request.user.telephone == '' %}无{% else %}{{ request.user.telephone }}{% endif %}"
                       maxlength="10">
            </li>
            <li>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：
                <input class="borderno" type="text" name="email" readonly="readonly"
                       value="{{ request.user.email }}"/>
                <span class="green changeemai_btn">[修改]</span>
            </li>
            <li class="button heibtn">
                <input type="button" id="jsEditUserBtn" value="保存">
            </li>
        </ul>
        {% csrf_token %}
    </form>
{% endblock %}

{% block window %}
    <div class="dialog" id="jsDialog">
        <div class="successbox dialogbox" id="jsSuccessTips">
            <h1>成功提交</h1>
            <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
            <div class="cont">
                <h2>您的需求提交成功！</h2>
                <p></p>
            </div>
        </div>

        <!--提示弹出框-->
        <div class="bidtips dialogbox promptbox" id="jsComfirmDialig">
            <h1>确认提交</h1>
            <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
            <div class="cont">
                <h2>您确认提交吗？</h2>
                <dd class="autoTxtCount">
                    <div class="button">
                        <input type="button" class="fl half-btn" value="确定" id="jsComfirmBtn"/>
                        <span class="fr half-btn jsCloseDialog">取消</span>
                    </div>
                </dd>
            </div>
        </div>

        <div class="resetpwdbox dialogbox" id="jsResetDialog">
            <h1>修改密码</h1>
            <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
            <div class="cont">
                <form id="jsResetPwdForm" autocomplete="off">
                    <div class="box">
                        <span class="word2">新&nbsp;&nbsp;密&nbsp;&nbsp;码</span>
                        <input type="password" id="pwd" name="password_1" placeholder="6-20位非中文字符"/>
                    </div>
                    <div class="box">
                        <span class="word2">确定密码</span>
                        <input type="password" id="repwd" name="password_2" placeholder="6-20位非中文字符"/>
                    </div>
                    <div class="error btns" id="jsResetPwdTips"></div>
                    <div class="button">
                        <input id="jsResetPwdBtn" type="button" value="提交"/>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>

        <div class="dialogbox changeemai1 changephone" id="jsChangeEmailDialog">
            <h1>修改邮箱</h1>
            <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
            <p>请输入新的邮箱地址</p>
            <form id="jsChangeEmailForm" autocomplete="off">
                <div class="box">
                    <input class="fl change_email" name="email" id="jsChangeEmail" type="text"
                           placeholder="输入重新绑定的邮箱地址">
                </div>
                <div class="box">
                    <input class="fl email_code" type="text" id="jsChangeEmailCode" name="code"
                           placeholder="输入邮箱验证码">
                    <input class="getcode getting" type="button" id="jsChangeEmailCodeBtn" value="获取验证码">
                </div>
                <div class="error btns change_email_tips" id="jsChangeEmailTips">请输入...</div>
                <div class="button">
                    <input class="changeemai_btn" id="jsChangeEmailBtn" type="button" value="完成"/>
                </div>
                {% csrf_token %}
            </form>
        </div>

        <div class="resetpassbox dialogbox" id="jsSetNewPwd">
            <h1>重新设置密码</h1>
            <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
            <p class="green">请输入新密码</p>
            <form id="jsSetNewPwdForm">
                <div class="box">
                    <span class="word2">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                    <input type="password" name="password" id="jsResetPwd" placeholder="请输入新密码"/>
                </div>
                <div class="box">
                    <span class="word2">确&nbsp;认&nbsp;密&nbsp;码</span>
                    <input type="password" name="password2" id="jsResetPwd2" placeholder="请再次输入新密码"/>
                </div>
                <div class="box">
                    <span class="word2">验&nbsp;&nbsp;证&nbsp;&nbsp;码</span>
                    <input type="text" name="code" id="jsResetCode" placeholder="请输入手机验证码"/>
                </div>
                <div class="error btns" id="jsSetNewPwdTips"></div>
                <div class="button">
                    <input type="hidden" name="mobile" id="jsInpResetMobil"/>
                    <input id="jsSetNewPwdBtn" type="button" value="提交"/>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}